*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.main-title{
    font-weight: 600 !important;
    text-align: center;
}

.panel-container{
    display: block;
    width: 50%;
    max-width: 600px;
    margin: auto; 
    border: 1px solid rgb(184, 181, 181); 
    border-radius: 10px;
    position: relative;
}


#items-card{
    display: block;
    background-color: #eeeeee !important;
    border-radius: 10px; 
    width: 98%; 
    margin: auto; 
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    position: relative;
}


.item-card{

    position: relative;

    width: 96%;
    background-color: rgb(130, 136, 136);
    border-radius: 10px;
    margin: auto !important;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem !important;
}

.item-card img {
    width: 40%;
    border-radius: 10px;
    margin-right: 20px;
}


.product-price p{

    font-size: 24px;;
}

.product-price p strong{

    color: #a46329;

}

.total-price{
    
    font-size: 24px;
    font-weight: 600;

}


.quantity-controller{
    width: 60%;
    border: 2px solid rgb(55, 54, 52);
    border-radius: 5px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px 12px;
    margin-bottom: 8px;

}

i {
    border-radius: 5px;
    border: 1px solid rgb(55, 54, 52);
    background-color: rgb(223, 221, 221);
    /* padding: 12px; */
    /* padding: 5px 10px 10px 5px; */
    margin: 3px 3px 3px 3px;
    height:30px;
    width: 30px;
    text-align: center;
    font-weight: bolder;
    padding-top: 6px;
}


.quantity-controller p {
text-align: center;
margin-bottom: 0;
font-size: 24px;
font-weight: 500;


}


.remove-button{

    background-color: rgba(209, 48, 33, 0.695);
    padding: 3px 6px;
    border-radius: 6px;

}
.remove-btn{
    margin-bottom: 16px;
}


.buy-detail :first-child{
    display: block;
    width: 50%;
    font-size: 24px;
    font-weight: 600;
    text-align: left;


}
.buy-detail :last-child{

    font-size: 24px;
    font-weight: 600;
    display: block;
    width: 50%;
    text-align: right;
}

.buy-detail{
    width: 96%;
    margin: auto;
    position: relative;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}




/* .try::-webkit-scrollbar-thumb {
    visibility: visible;
    background-color: #850b0b;
    visibility:
    /* background: linear-gradient(180deg, pink, blue); */
/* } */ */


/* .try::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.try::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
} */